{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
    <ul class="question-list-group">
        {% for question in questions %}
        <li class="show_li">
            <div class="avatar-group">
                <img src="{{ url_for('static', filename='images/test.png') }}" alt="" class="avatar">
            </div>
            <div class="question-group">
                <a class="question-title" href="{{ url_for('detail',question_id=question.id) }}">{{ question.title }}</a>
                <p class="question-content">{{ question.content }}</p>
                <div class="question-info">
                    <span class="question-author">{{ question.author.username }}</span>
                    <span class="question-author">{{ question.create_time }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}